* {
    font-family: "Poppins", serif;
}

.header {
    text-align: center;
}

.title {
    font-weight: 500;
}

.user-input {
    text-align: center;
    margin-top: 2rem;
}

#qrcode {
    border: black 1px solid;
    height: 325px;
    width: 325px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    margin-top: 5rem;
    text-align: center;
}

button {
    font-size: 1.1rem;
    all: unset;
    background-color: #00d0ff;
    padding: .6rem;
    border-radius: 9px;
    cursor: pointer;
    box-shadow: 2px 2px #000;
    margin-left: .5rem;
    margin-right: .5rem;
}

button:active {
    box-shadow: 1px 1px #000;
}

textarea {
    border-color: #00d0ff;
    border-radius: 1rem;
}

textarea:focus {
    outline: none;
    border-color: #0fd76c;
}